header{
    border-bottom: 1px solid wheat;
}
body{
    color: aliceblue;
    font-family:muli-regular, arial, sans-serif;
}
h2{
    font-size: 2em;
}
main{
    flex-direction: column;
}
.menu-primero{
    justify-content: space-between !important;
}
.menu-lateral{
    width: 100%;
    padding: 2% 0 2% 0;
    background-color: #2f467c;
}
.menu-lateral ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.menu-lateral ul li{
    display: flex;
    align-items: center;
}
.menu-lateral ul li a{
    text-decoration: none;
    color: inherit;
}
.control{
    display: flex;
    flex-direction: column;
    gap: 2%;
    color: black;
    width: 100%;
    padding: 1%;
}
main{
    display: flex;
    justify-content: space-between;
}
.control ul{
    list-style: none;
}