body{
    background-color: white;
}
h1{
    font-size: 18px;
}
header{
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh
    
}
.container-ingreso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
    border: 1px solid gray;
    border-radius: 0px;
    padding:4%;
    width: 60%;
    height: 60%;
}
.formulario{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    width: 100%;
    height: 25px;
    margin-bottom: 3%;
}
.registro{
    display: block !important;
}