body{
    background-color: white;
}
h1{
    font-size: 18px;
}
header{
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh
    
}
.container-ingreso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding:4%;
    width: 60%;
    height: 40%;
}
.formulario{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    width: 100%;
    margin-bottom: 2%;
}
form input:last-child{
    background-color: #2f467c;
    color: white;
    border: none;
    margin-top: 3%;
}