*{
    padding: 0;
    margin: 0;
}

body{
    font-family:muli-regular, arial, sans-serif;
    background-color: #eaeded;
    font-size: 12px !important;
}
header{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #2f467c;
    color: white;
    padding: 1%;
    position: sticky;
    top: 0px;
    z-index: 1000;
    border-bottom: 2px solid wheat;    
}
#logo-sigto-dos{
    display: none;
}
header #logo-sigto{
    display: flex;
    justify-content: center;
    
}
header input{
    border-radius: 10px;
    border: none;
    height: 24px;
    background-image: url("/proyecto-sigto/assets/img/magnifying-glass_118667.png");
    background-repeat: no-repeat;
    background-position: 90%;
}
header  .menu-primero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding-bottom: 2%;
    margin: 2% 0 1% 0;
   
}
#menu{
    cursor: pointer;
}
header .menu-segundo{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header .menu-segundo ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 3% 0 3% 0;
    width: 100%;
}
header .menu-segundo ul li{
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 1%;
}
header .menu-segundo ul li a{
    color: white;
    text-decoration: none;
}
header .menu-segundo ul li:hover{
    border-bottom: 1px solid wheat;
}
header ul li{
    list-style: none;
}

header a{
    text-decoration: none;
    color: white;
}

#logo-sigto a:hover{
        border: none !important;
    
}
header .menu-primero a:hover{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgb(237, 177, 94);
}
#logo{
    height: 60px;
}
.principal-carrusel img{
    height: 220px;
    width: 100%;
}

.info-art{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2%;
    margin-top: 3%;
}
.info-ventas{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px 10px;
    box-shadow: 1px 2px 10px rgb(133, 132, 132);
}
.info-ventas div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
  
    
}
.info-ventas div div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 3%;  

}

@media only screen and (min-width: 768px) {
    header #logo-sigto{
        display: none;
    }
    #logo-sigto-dos{
        display: inline;
        border: none !important;
    }
    #logo-sigto-dos :hover{
        border: none !important;
    }
    .menu-primero{
        margin: 0 !important;
        padding: 0 !important;
    }
    .menu-primero  div input{
        width: 300px;
    }
    .principal-carrusel img{
        height: 100%;
        width: 100%;
    }
    .info-ventas {
        display: flex;
        padding: 4%;
    }
}

@media only screen and (min-width: 992px){
    .principal-carrusel img{
        height: 300px;
        width: 50%;
    }
   
}
