*{
    padding: 0;
    margin: 0;
}
body{
    font-family:muli-regular, arial, sans-serif;
    background-color: #eaeded;
    font-size: 12px !important;
}
header{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #2f467c;
    color: white;
    padding: 1%;
    position: sticky;
    top: 0px;
    z-index: 1000;
}
header input{
    border-radius: 10px;
    border: none;
    height: 24px;
    background-image: url("/proyecto-sigto/assets/img/magnifying-glass_118667.png");
    background-repeat: no-repeat;
    background-position: 90%;
}
header  div:first-of-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}

header div ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -2px;
}
header ul li{
    list-style: none;
}

header a{
    text-decoration: none;
    color: white;
}
#logo-sigto a:hover{
        border: none !important;
    
}
header a:hover{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgb(237, 177, 94);
}
.desplegable{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7%;
    right: 17%;
    width: 30%;
    height: 25%;
    padding: 2%;
    box-shadow: 1px 2px  8px black;
    border-radius: 5px;
    z-index: 1000;
    background-color: #fff;
}
.desplegable input{
    width: 100%;
    height: 35px;
    font-size: 1.2em;
}
.desplegable :first-child{
    background-color: #ff3c3c;
    color: #fff;
    border: none;
}
.desplegable :last-child{
    
    background-color: #4067b4;
    color: #fff;
    border: none;
}
#logo{
    height: 60px;
}
.menu-segundo img{
    width: 20px;
}
.principal-carrusel img{
    height: 200px;
    width: 100%;
}

.info-art{
    height: 100%;
    padding: 2%;
    margin-top: 3%;
}
.info-ventas{
    height: 100%;
    background-color: #fff;
    border-radius: 10px 10px;
    box-shadow: 1px 2px 10px rgb(133, 132, 132);
}
.info-ventas ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.info-ventas ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 3%;  
}
.info-ventas ul li a{
    text-decoration: none       ;
}
.info-ventas ul li p{
    padding:0 2% 0 4%;
    border-left: 1px solid grey;
    height: 110px;
}
.info-ventas ul li img{
    width: 40px;    
    padding: 2%;
}

.noticias{
    height: 100%;
    padding: 2%;
}

.noticia-h{
    height: 100%;
    background-color: #fff;
    border-radius: 10px 10px;
    box-shadow: 1px 2px 10px rgb(133, 132, 132);
}