.foto-portada img{
    width: 100%;
    border-top: 1px solid wheat;
}
.ofertasSemanales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 8% 0 4% 0;
    gap: 1%;
}
.oferta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1%;
    margin-bottom: 4%;
    width: 100%;
}
.articulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 36%;
    height: 100%;
    padding: 3%;
    margin-top: 1%;
    background-color: white;
    border-radius: 10px;
}
.articulo a{
    text-decoration: none !important;
    color: black;
}
.articulo a:link{
    color: black;
}

.articulo img{
    width: 120px;
    height: 100px;
}
.descripcion-oferta{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 5%;
}
.descripcion-oferta p:last-of-type{
    font-size: 1.5em;
}

.descripcion-oferta span:first-of-type{
    text-decoration: line-through;
    color: gray;
}
.descuentoOff{
    text-decoration: none !important;
    color: red !important; 
    font-weight: bolder;
    font-size: 10px;
}