main{
    padding: 1%;
}
.info-art{
    padding: 0 ;
}
.container-info{
    padding: 1%;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 4%;
    box-shadow: 1px 2px 10px rgb(133, 132, 132);
    background-color: white;
    border-radius: 4px;
    height: 100%;
}
.container-contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
}
.container-contenido div:nth-of-type(2){
    width: 100%;
}
.container-contenido form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    margin-top: 2%;
    width: 100%;
}
.container-contenido div form{
    display: none;
}
.container-contenido form input{
    width: 100%;
    padding: 1% 2%;
    border:none;
    border-bottom: 1px solid black;
}
.container-contenido div{
    padding: 1%;
}
.container-contenido img{
    width: 30px;
}
.container-contenido p{
    width: 250px;
}
.container-contenido div:last-of-type img{
    width: 16px;
}
.container-contenido div:nth-child(2) p{
    padding-top: 2%;
}
.img-perfil img{
    width: 100px;
    border-radius: 500px;
}

.cerrar-sesion form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.cerrar-sesion button{
    background-color:cornflowerblue;
    color: aliceblue;
    border: none;
    margin-top: 3%;
    padding: 1% 2%;
}
@media only screen and (min-width:768px){
    .container-contenido div:nth-child(2){
        width: 100%;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-info{
        min-width: 60%;
        
    }
}