html,main{
    background-color: white;
    height: 100%;
}
header div{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    justify-content: center !important;
    align-items: center !important;

}
h1{
    font-size: 2em;
}
.contenedor-registro{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    width: 100%;
}
.registrate{
    padding-bottom: 3%;
}
.registro{
    display: flex;
    flex-direction: column;
    padding: 8%;
    width: 100%;
}
label{
    font-weight: bold;
    margin: 0;
}
.div-form-1{
    display: flex;
    flex-direction: row;
    gap: 6%;
    height: 25%;
}
.div-form-1 input, .div-form-2 input{
    height: 45px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 4%;
}
.div-form-1 div, .div-form-2 div{
    display: flex;
    flex-direction: column;
    gap: 4%;
    width: 100%;
    height: 100%;
}
.div-form-2{
    display: flex;
    flex-direction: column;
    height: 50%;
}
.div-form-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.div-form-3 input:last-of-type{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #2B2B2B;
    color: white;
    border-radius: 25px;
}
.div-form-4{
    display: flex;
    gap: 2%;
    padding: 3% 0 3% 0;
}
.div-form-4 p{
    margin: 0;
}
.div-form-4 input{
    width: 18px;
}
@media only screen and (min-width:768px){
    .contenedor-registro{
        max-width: 60%;
        padding-top: 4%;
    }
}

@media only screen and (min-width:992px){
    .contenedor-registro{
        max-width: 40%;
    }
}