html{
    background-color: #fff;
    font-family:muli-regular, arial, sans-serif;
    height: 100%;
}
header div{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #fff;
}
.contenedor-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}
main input{
    height: 100%;
    width: 100%;
}
h1{
    font-size: 18px;
}

main input:nth-last-child(1){
    background-color: black;
    color: #fff;
    border: none;
}
main input:nth-last-child(2){
    background-color: #4067b4;
    color: #fff;
    border: none;
}
a:hover{
    border: none !important;
}
.registrate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
form input{
    margin-bottom: 2%;
    height: 25px;
}
main div form div input:nth-last-of-type(1){
    height: 20px;
    width: 30px;
}
form div {
    display: flex;
    align-items: center;
}
form div p{
    margin: 0;
}
