
.control{
    color: black;
    padding: 2%;
}
h2{
    font-size: 18px;
    margin: 5%;
}
.contenedor-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    height: 100%;
}
.titulo{
    display: flex;
    justify-content: center;
    background-color: #333;
    border-radius: 50px;
    color: #ccc;
    height: 50%;
    width: 60%;
}
.titulo h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin: 0;
    padding: 2%;
    width: 100%;
    cursor: pointer;
}
.deco-btn{
    background-color: #ccc;
    color: #333;
    border-radius: 30px;
}
.buscar input:first-child{
    height: 24px;
    border: none;
    padding: 2%;
    border-radius: 5px;
}
.buscar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2%;
}
.buscar p{
    margin: 0;
}
.buscar :nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 4%;
    border: none;
}
.buscador input:last-of-type{
    color: white;
    border-radius: 5px;
    width: 65px;
    padding: 1%;
    background-color: rgb(237, 177, 94);
}
.barra-datos{
    padding: 2% 0 2% 0;
}
.barra-datos ul:first-of-type{
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-bottom: 1px solid black;
    align-items: center;
}
.barra-datos li{
    display: flex;
    justify-content: center;
  
}
.usuarios:last-of-type{
    display: none;
}
.usuarios ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    margin-bottom: 3%;
    
}
.usuarios li{
    display:inline-block;
}



h1 {
    color: #333;
}

/* Formularios */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Tabla de Usuarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 1% 2%;
    text-align: left;
    color: black;
    font-size: 0.7em;
}

th {
    background-color: #f2f2f2;
}

/* Botones */
button {
    background-color: #4CAF50;
    color: black;
    padding: 1% 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

button.delete {
    background-color: #f44336;
}

button.delete:hover {
    background-color: #e53935;
}

button.edit {
    background-color: #2196F3;
}

button.edit:hover {
    background-color: #1e88e5;
}

/* Estilo para los enlaces que parecen botones */
a.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

a.button:hover {
    background-color: #45a049;
}

@media only screen and (min-width: 768px){
    th, td {
        font-size: 1em;
    }
    a.button {
        display: inline-block;
        background-color: #4CAF50;
        color: white;
        padding: 3% 6%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }
}
