
.control{
    color: black;
}
.contenedor-control{
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100%;
}
.titulo{
    display: flex;
    justify-content: center;
}
.buscar input:first-child{
    height: 24px;
    border: none;
    padding: 2%;
    border-radius: 5px;
}
.buscar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2%;
}
.buscar p{
    margin: 0;
}
.buscar :nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 4%;
    border: none;
}
.buscador input:last-of-type{
    color: white;
    border-radius: 5px;
    width: 65px;
    padding: 1%;
    background-color: rgb(237, 177, 94);
}
.barra-datos ul:first-of-type{
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-bottom: 1px solid black;
    align-items: center;
}
.usuarios ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    padding-bottom: 2px;
}
.usuarios li{
    display: flex;
    justify-content: center;
    width: 25%;
}